[submodule "submodules/xmss-reference"]
	path = submodules/xmss-reference
	url = https://github.com/XMSS/xmss-reference.git
[submodule "submodules/jasmin-preprocessor"]
	path = submodules/jasmin-preprocessor
	url = https://github.com/ruipedro16/jasmin-preprocessor.git
	branch = stable
[submodule "submodules/FV-XMSS-EC"]
	path = submodules/FV-XMSS-EC
	url = git@github.com:MM45/FV-XMSS-EC.git
